<p>
  <%= label :name %>
  <%= text_field :name %>
</p>
<p>
  <%= label :hometown %>
  <%= text_field :hometown %>
</p>
<p>
  <%= label :birthday %>
  <%= date_field :birthday %>
</p>
  <%= submit %>
